# Python Crash Course 2!

# Booleans

In [4]:
type(3+3 == 3*2)

bool

# Operators

In [12]:
age = 16
age += 4
age

20

In [6]:
age == 12

False

In [7]:
age > 12 and age < 24

True

# Lists

In [38]:
courses = ["Honors Lit", "Data Science", "History", "Honors Chem", "French 4/5", "Gender Studies", "Honors PreCalc"]
courses

['Honors Lit',
 'Data Science',
 'History',
 'Honors Chem',
 'French 4/5',
 'Gender Studies',
 'Honors PreCalc']

## Accessing Items

In [39]:
print(courses[1])

Data Science

## Changing Items

In [40]:
courses[4] = "French 4/5 with Ms. Jayson"
courses

['Honors Lit',
 'Data Science',
 'History',
 'Honors Chem',
 'French 4/5 with Ms. Jayson',
 'Gender Studies',
 'Honors PreCalc']

## Accessing a Range of Items

In [41]:
print(courses[:2])
#i couldn't figure this out so Alexis Emerson helped me

['Honors Lit', 'Data Science']

## Adding to a List

In [42]:
courses.append("Another Course")
courses

['Honors Lit',
 'Data Science',
 'History',
 'Honors Chem',
 'French 4/5 with Ms. Jayson',
 'Gender Studies',
 'Honors PreCalc',
 'Another Course']

## Inserting into a List

In [43]:
courses.insert(2, "Honors Literature")
courses.remove("Honors Lit")
courses
#it was the third position before honors lit left, i'm not sure if i did this right, should it have been fourth position so it would be third when it was removed?

['Data Science',
 'Honors Literature',
 'History',
 'Honors Chem',
 'French 4/5 with Ms. Jayson',
 'Gender Studies',
 'Honors PreCalc',
 'Another Course']

## List Looping

In [44]:
for x in courses:
  print(x)

Data Science
Honors Literature
History
Honors Chem
French 4/5 with Ms. Jayson
Gender Studies
Honors PreCalc
Another Course

## Sorting a List

In [45]:
courses.sort()
courses

['Another Course',
 'Data Science',
 'French 4/5 with Ms. Jayson',
 'Gender Studies',
 'History',
 'Honors Chem',
 'Honors Literature',
 'Honors PreCalc']

In [53]:
courses2 = courses.copy()
courses2.append("Yet Another Course")
print(courses2)
print(courses)

['Another Course', 'Data Science', 'French 4/5 with Ms. Jayson', 'Gender Studies', 'History', 'Honors Chem', 'Honors Literature', 'Honors PreCalc', 'Yet Another Course']
['Another Course', 'Data Science', 'French 4/5 with Ms. Jayson', 'Gender Studies', 'History', 'Honors Chem', 'Honors Literature', 'Honors PreCalc']

## Other List Methods

In [56]:
courses.reverse()
courses

['Another Course',
 'Data Science',
 'French 4/5 with Ms. Jayson',
 'Gender Studies',
 'History',
 'Honors Chem',
 'Honors Literature',
 'Honors PreCalc']

## Tuples

In [57]:
days_of_week = ('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
days_of_week

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

## Sets

In [59]:
types_of_fruit = {"apple", "banana", "cherry"}
types_of_fruit.add("kiwi")
types_of_fruit

{'apple', 'banana', 'cherry', 'kiwi'}